{% extends "RoommateBundle::_base.html.twig" %}

{% block pageTitle %}Contacts - {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9 js-contact-container">

            <a href="{{ path('contacts_add') }}" class="btn btn-primary header-btn pull-right">
                <i class="fa fa-plus"></i>
                Add Contact
            </a>

            <h3><i class="fa fa-angle-right"></i> Contacts</h3>

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="showback">
                        <input id="search" type="search" placeholder="Search" class="form-control round-form" autocomplete="off" />
                    </div>
                </div>
            </div>

            {% for startLetter, contacts in groupedContacts %}
                <div class="row js-contact-row">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-angle-right"></i> {{ startLetter }}</h4>
                    </div>

                    {% for contact in contacts %}
                        <div class="col-lg-4 col-md-6 col-xs-12 js-contact">
                            <div class="showback">
                                <button role="button" data-url="{{ path('contacts_delete', {'contact': contact.id}) }}" data-name="{{ contact.name }}" class="close" data-toggle="modal" data-target="#delete-confirm-modal">x</button>

                                <h4 class="js-search-term">
                                    <a href="{{ path('contacts_edit', {'contact': contact.id}) }}">
                                        {{ contact.name }}
                                    </a>
                                </h4>
                                {% if contact.nickname %}
                                    <h5 class="js-search-term">{{ contact.nickname }}</h5>
                                {% endif %}
                                {% if contact.email %}
                                    <p>
                                        <a href="mailto:{{ contact.email }}">
                                            <i class="fa fa-envelope-o"></i>
                                            {{ contact.email }}
                                        </a>
                                    </p>
                                {% endif %}
                                {% if contact.phoneNumber %}
                                    <p>
                                        <a href="tel:{{ contact.phoneNumber }}">
                                            <i class="fa fa-phone"></i>
                                            {{ contact.phoneNumber }}
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endfor %}

        </div>

        <div class="col-lg-3 ds">

            <h3>Roommates</h3>

            {% for roommate in roommates %}
                <div class="desc">
                    <div class="details">
                        <h4>{{ roommate.name }}</h4>
                        <p>
                            <a href="mailto:{{ roommate.email }}">
                                <i class="fa fa-envelope-o"></i>
                                {{ roommate.email }}
                            </a>
                        </p>
                        {% if roommate.phoneNumber %}
                            <p>
                                <a href="tel:{{ roommate.phoneNumber }}">
                                    <i class="fa fa-phone"></i>
                                    {{ roommate.phoneNumber }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% include 'RoommateBundle::_confirm_modal.html.twig' %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/libs/jquery.searchable-1.1.0.min.js') }}"></script>
    <script type="application/javascript">
        $(function () {

            $('.js-contact-container').searchable({
                selector: '.js-contact',
                childSelector: '.js-search-term',
                show: function (contact) {
                    contact.show();
                    contact.closest('.js-contact-row').show();
                },
                hide: function (contact) {
                    contact.hide();
                    var row = contact.closest('.js-contact-row');
                    if (row.find('.js-contact:visible').length === 0) {
                        row.hide();
                    }
                }
            });

        });
    </script>
    <script type="application/javascript">
        {% include 'RoommateBundle::_confirm_modal.js.twig' %}
    </script>
{% endblock %}
