{% extends "RoommateBundle::_base.html.twig" %}

{% block pageTitle %}Dashboard - {% endblock %}

{% block content %}

    <a href="{{ path('dashboard_add') }}" class="btn btn-primary header-btn pull-right">
        <i class="fa fa-plus"></i>
        Add Item
    </a>

    <h3><i class="fa fa-angle-right"></i> Dashboard</h3>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row mtbox">
        <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
            <div class="box1">
                <span class="li_bubble"></span>
                <h3>{{ unansweredPolls }}</h3>
            </div>
            <p>There are {{ unansweredPolls }} polls you haven't voted on yet</p>
        </div>
        <div class="col-md-2 col-sm-2 box0">
            <a href="{{ path('cleaning_jobs') }}">
                <div class="box1">
                    <span class="li_lab"></span>
                    <h3>{{ currentCleaningJobs|length ? currentCleaningJobs|join(', ') : 'Free!' }}</h3>
                </div>
                <p>
                    {% if currentCleaningJobs|length > 0 %}
                        This week, you need to clean
                        {% for job in currentCleaningJobs %}
                            {{ job }}
                            {%- if not loop.last %}
                                {%- if loop.revindex == 1 %}
                                    and
                                {% else -%}
                                    ,
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        This week you are free!
                    {% endif %}
                </p>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 box0">
            <a href="{{ path('events_browse') }}">
                <div class="box1">
                    <span class="li_calendar"></span>
                    <h3>{{ upcomingEvents }}</h3>
                </div>
                <p>There are {{ upcomingEvents }} events coming up. Next one is {{ nearestEventDate|ago }}.</p>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 box0">
            <a href="{{ path('groceries_view') }}">
                <div class="box1">
                    <span class="li_vallet"></span>
                    <h3>{{ pendingGroceryItems }}</h3>
                </div>
                <p>There are {{ pendingGroceryItems }} items that need to be bought</p>
            </a>
        </div>

    </div>

    <div class="row mt">
        {% for item in items %}
            <div class="col-xl-3 col-md-4 col-sm-6 mb">
                <div class="showback{% if item.options|length == 0 and not item.seen %} not-seen{% endif %}">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if app.user.roommateId == item.owner_id %}
                                <button type="button" data-url="{{ path('dashboard_delete', {'item': item.id}) }}" data-name="{{ item.title }}" class="close" data-toggle="modal" data-target="#delete-confirm-modal">x</button>
                            {% endif %}
                            <h4>{{ item.title }}</h4>

                            {% if item.description %}
                                <p>{{ item.description }}</p>
                            {% endif %}

                            {% if item.options|length == 0 and not item.seen %}
                                <a href="{{ path('dashboard_acknowledge', {'item': item.id}) }}" class="btn btn-info btn-xs">Acknowledge</a>
                            {% endif %}

                            {% if item.options|length %}
                                {% for option in item.options %}
                                    {% if item.hasVoted %}
                                        {% set percentage = option.voters|length / roommates|length * 100 %}
                                        {{ option.name }} ({{ option.voters|length }})<br/>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-{% if option.hasVoted %}success{% else %}info{% endif %}" role="progressbar" aria-valuenow="{{ option.voters|length }}" aria-valuemin="0" aria-valuemax="{{ roommates|length }}" style="width: {{ percentage }}%"></div>
                                        </div>
                                    {% else %}
                                        <a href="{{ path('dashboard_vote', {'option': option.id}) }}" class="btn btn-round btn-info">
                                            <i class="fa fa-check-square-o"></i>
                                            {{ option.name }}
                                            ({{ option.voters|length }})
                                        </a>
                                        {% if not loop.last %}
                                            <br />
                                            <br />
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>{{ item.date_added|ago }}</h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="pull-right">By {{ item.owner_name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'RoommateBundle::_confirm_modal.html.twig' %}

{% endblock %}

{% block css %}
    <link href="/assets/lineicons/style.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="application/javascript">
        {% include 'RoommateBundle::_confirm_modal.js.twig' %}
    </script>
{% endblock %}
