{% extends "RoommateBundle::_base.html.twig" %}

{% block pageTitle %}Dashboard - {% endblock %}

{% block content %}

    <a href="{{ path('dashboard_add') }}" class="btn btn-primary header-btn pull-right">
        <i class="fa fa-plus"></i>
        Add Item
    </a>

    <h3><i class="fa fa-angle-right"></i> Dashboard</h3>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row mt">
        {% for item in items %}
            <div class="col-xl-3 col-md-4 col-sm-6 mb">
                <div class="showback{% if not item.seen %} not-seen{% endif %}">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if app.user.roommateId == item.owner_id %}
                                <button type="button" data-url="{{ path('dashboard_delete', {'item': item.id}) }}" data-name="{{ item.title }}" class="close">x</button>
                            {% endif %}
                            <h4>{{ item.title }}</h4>

                            {% if item.description %}
                                <p>{{ item.description }}</p>
                            {% endif %}

                            {% if not item.seen %}
                                <a href="{{ path('dashboard_acknowledge', {'item': item.id}) }}" class="btn btn-info btn-xs">Acknowledge</a>
                            {% endif %}

                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>{{ item.date_added|ago }}</h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="pull-right">By {{ item.owner_name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'RoommateBundle::_confirm_modal.html.twig' %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="application/javascript">
        {% include 'RoommateBundle::_confirm_modal.js.twig' %}
    </script>
{% endblock %}
